/* # RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* # UTILS */

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 1000px;
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
}

h1 {
  font-size: 40px;
  margin-bottom: 10px;
  font-weight: 900;
}

h2 {
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: 900;
}

p {
  margin-bottom: 20px;
  line-height: 30px;
}

button {
  padding: 15px;
  border-radius: 20px;
}

/* HEADER */

header {
  flex-direction: column;
  background-image: url("../img/jumbo.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  margin-bottom: 100px;
  color: white;
}

.second-header {
  text-align: center;
  color: white;
}

nav.top-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin: 10px auto;
  width: 100%;
  max-width: 1000px;
}

nav div.login {
  flex-basis: 30%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

nav ul.link {
  flex-basis: 70%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

nav ul.link li {
  display: inline-block;
  margin: 0 10px;
}

.baby-frog {
  background-image: url("../img/wave.svg");
}

div#hero-box {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

div#hero-box .second-header {
  width: 40%;
  height: 400px;
}

/* MAIN */

.col {
  height: 500px;
}

.big-col {
  display: flex;
  width: 50%;
  margin-right: 250px;
}

.small-col {
  width: 50%;
}

main section {
  height: 500px;
  margin-bottom: 200px;
}

div.riquadro-verde {
  height: 550px;
  width: 100%;
  margin: 10px 0;
  text-align: center;
}

.under-the-last-pic {
  text-align: center;
  margin-bottom: 20px;
}

/* # FOOTER */

footer {
  padding: 50px;
  background-color: #23272a;
  color: white;
  text-align: top;
}

.footer-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

footer section.top-footer {
  display: flex;
  align-items: flex-start;
  height: 500px;
  margin-bottom: 20px;
}

.language {
  display: flex;
  align-items: center;
}

.language img {
  height: 20px;
  margin-right: 8px;
}

footer section.top-footer nav {
  width: 70%;
  height: 100%;
}

footer .top-footer nav ul {
  width: 25%;
  height: 100%;
  list-style-type: none;
  line-height: 30px;
}

footer section.bottom-footer {
  height: 100px;
  justify-content: space-between;
}

footer .footer-logo,
footer .footer-bottone {
  padding: 20px;
  font-size: 30px;
}
